{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block sub_content %}

<div class="col-6 mx-auto">
<form class="account-form" method="post" enctype="multipart/form-data">
    {% if user_form.is_valid and profile_form.is_valid  %}
    <div class="alert alert-primary" role="alert">
        Details successfully updated!
    </div>
    <p class="small text-center pt-0">
        <a href="{% url "registration:dashboard" %}">Back to Dashboard</a>
    </p>
    {%else%}
    <h3>Change your details</h3>
    <p>You can edit your account using the following form:</p>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
    {{ user_form.email }}
    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
    {{ user_form.first_name }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">Save
        Changes</button>
    <hr class="mb-3">
</form>
<form class="account-form" action="{% url "registration:delete_user" %}" method="post">
    {% csrf_token %}
    <p class=" h3 pt-4 font-weight-bold">Delete Account</p>
    <p>Are you sure you want to delete your account?</p>
    <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
</form>
</div>

{% endblock %}