{% extends "base.html" %}
{% block title %}Reset your account{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "registration:dashboard" %}';
</script>
{% endif %}

<form class="account-form mx-auto" method="post" action="{% url 'registration:pwdreset' %}">
    <h3 class="mb-4">Forgotten your password?</h3>
    <p>Enter your e-mail address to obtain a new password.</p>
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small">{{ form.email.label}}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Send
        e-mail</button>
    <p class="text-center"><a href="{% url "registration:login" %}">Login</a></p>
</form>

{% endblock %}