{% extends "base.html" %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block content %}
    <form class="menu_item" action="" method="post">
        {% csrf_token %}
        <div class="container mx-25">
            <div class="col-12 text-center">
                <h1> Create account</h1>
            </div>

            {#        {% csfr_token %}#}
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input name="first_name" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input name="last_name" type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        {#                <span class="input-group-text">@</span>#}
                        <input name="username" type="email" class="form-control" id="username" placeholder="Username" required="">
                        <div class="invalid-feedback">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group has-validation">
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">
                        <div class="invalid-feedback">
                            Your password is required.
                        </div>
                    </div>
                </div>

{#                <div class="col-12">#}
{#                    <label for="email" class="form-label">Email </label>#}
{#                    <input type="email" class="form-control" id="email" placeholder="you@example.com">#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter a valid email address for shipping updates.#}
{#                    </div>#}
{#                </div>#}

                <div class="col-12">
                    <label for="address" class="form-label">Billing Address</label>
                    <input name="address1" type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                    <div class="invalid-feedback">
                        Please enter your billing address.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address2" class="form-label">Address 2 <span
                            class="text-muted">(Optional)</span></label>
                    <input name="address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>

                <div class="col-md-5">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-select" id="country" required="">
                        <option value="">Choose...</option>
                        <option>Romania</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <select class="form-select" id="state" required="">
                        <option value="">Choose...</option>
                        <option>Bucharest</option>
                        <option>Ilfov</option>
                        <option>Cluj</option>
                        <option>Constanta</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input name="cod_postal" type="text" class="form-control" id="zip" placeholder="" required="">
                    <div class="invalid-feedback">
                        Zip code required.
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-2">
                <label for="payment" class="form-label">Payment details</label>
                <select name="payment_option" class="form-select" id="state" required="">
                    <option value="">Please Select</option>
                    <option>Credit Card</option>
                    <option>Bank Transfer</option>
                    <option>Cash back to Courier</option>

                </select>
                <div class="invalid-feedback">
                    Please provide a valid payment.
                </div>

            </div>


            <br>
            <div class="row gy-3">
                <div class="col-md-6">
                    <label for="cc-name" class="form-label">Name on card</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cc-number" class="form-label">Credit card number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>
                <br>

                <div class="col-md-3">
                    <label for="cc-expiration" class="form-label">Expiration</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>


        </div>
        <br>
        <div class="container mx-25">
            <div class="col-md-4">

                <input type="submit" value="Submit Registration"  id="success-outlined" >
{#                <label class="btn btn-outline-warning" for="warning-outlined">Submit Registration</label>#}
            </div>
            <br>
        </div>
    </form>
{% endblock %}