.nowrap{
    white-space: nowrap;
}
.navbar .nav-link > li > a,
        .navbar .nav-link > .active > a {
            color: white;
        }

        .navbar-nav .nav-item > a:hover {
            color: #FFD300 !important;

        }

        #submeniu > a:hover {
            color: #FFD300 !important;
        }

        #pagina {
            margin-left: 20px;
            margin-right: 20px;
        }