{% extends 'base.html' %}
{% load static %}
{% block title %}Cart Summary{% endblock %}


{% block content %}
    {#    {{ cart.status }}#}
    <div class="container">
        <div class="col-12">
            <h1 class="h2">Your Cart</h1>
        </div>
        <div class="col-12">
            <p>Manage your cart items</p>
        </div>
        <hr/>
    </div>


    <div class="container">
        <section class="mt-5 mb-4">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card wish-list mb-4">
                        <div class="card-body">
                            {#Todo:fix cart item count#}
                            <h5 class="mb-4">Cart (<span>  {{ cart_items | length }} </span> number of items)</h5>
                            {% for item in cart_items %}
                                <div class="row mb-4">
                                    <div class="col-md-5 col-lg-3 col-xl-3">
                                        <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                            <img class="img-fluid w-100"
                                                 src="{{ item.product.image.url }}"
                                                 alt="Sample">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-lg-9 col-xl-9">
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <h5>{{ item.product.name }}</h5>
                                                    <br>
                                                </div>
                                                <div>
                                                    <div class="gui-form-control-small ">
                                                        <form action="" method="post">
                                                            {% csrf_token %}
                                                            <input name="quantity" type="number"
                                                                   class="gui-input-sm select2 product-quantity-select "
                                                                   value="{{ item.quantity }}">
                                                            <input type="hidden" name="cart_item_id"
                                                                   value="{{ item.id }}">
                                                            <div class="btn-group">
                                                                <input type="submit"
                                                                       class="btn btn-sm btn-outline-warning"
                                                                       value="Update">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <a href="#!" type="button"
                                                       class="card-link-secondary small text-uppercase-black mr-3"><i
                                                            class="fas fa-trash-alt mr-1"></i> Remove item </a>
                                                    <a href="#!" type="button"
                                                       class="card-link-secondary small text-uppercase-black"><i
                                                            class="fas fa-heart mr-1"></i> Move to wish list </a>
                                                </div>
                                            </div>
                                            <div class="position-right ">
                                                <p class="mb-0">
                                                    <span>Price: <strong>{{ item.product.price }} €</strong></span>
                                                    <br>
                                                </p>
                                            </div>
                                            <div class="right d-flex right-content-between align-items-right">
                                                <p class="mb-0">
                                                    <span>Total: <strong>{% widthratio item.product.price 1 item.quantity %} €</strong></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Expected shipping delivery</h5>
                            <p class="mb-0"> Thu., 12.06. - Mon., 16.06.</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">We accept</h5>
                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                 alt="Visa">
                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                 alt="American Express">
                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                 alt="Mastercard">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-3">Order Summary</h5>
                            <ul class="list-group list-group-flush">
                                 <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div class="changelist-form-container">
                                        <span>Subtotal: <strong>{{ cart_total }} €</strong></span>
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Free</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div class="changelist-form-container">
                                        <span>Total: <strong>{{ cart_total }} €</strong></span>
                                    </div>

                                </li>
                            </ul>
                            <div class="d-grid gap-2 d-md-block">
                                {#                                                                <button type="button" class="btn btn-d-md-block btn-warning ">Checkout </button>#}
                                <a href="{% url 'store:cart_success' %}" class="btn btn-d-md-block btn-warning "
                                   type="submit">Checkout</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <a class="dark-grey-text d-flex justify-content-between"
                               data-toggle="collapse"
                               href="#collapseExample" aria-expanded="false"
                               aria-controls="collapseExample">
                                Add a discount code (optional)
                                <span><i class="fas fa-chevron-down pt-1"></i></span>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="mt-3">
                                    <div class="md-form md-outline mb-0">
                                        <input type="text" id="discount-code"
                                               class="form-control font-weight-light"
                                               placeholder="Enter discount code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}