{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <h1 class="h2">Your Order has been placed. Thank you !</h1>
        </div>
    </div>
{% endblock %}