{% extends "base.html" %}
{% load static %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Product price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Value</th>

        </tr>
        </thead>

        <tbody>
        {% for item in cart_items %}
            <tr>

                <td>{{ item.product.name }} </td>
                <td>{{ item.product.price }} </td>
                <td>{{ item.quantity }}</td>
                <td>{% widthratio item.product.price 1 item.quantity %} €</td>
                {#                <td>#}
                {#                    <div class="btn-group">#}
                {#                        <a href="{% url 'store:product_create' %}" type="button"#}
                {#                           class="btn btn-sm btn-outline-warning">Details</a></div>#}
                {#                </td>#}
                {#                <td>#}
                {#                    <div class="btn-group">#}
                {#                        <a href="{% url 'store:product_create' %}" type="button"#}
                {#                           class="btn btn-sm btn-outline-warning">Confirm</a></div>#}
                {#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}