{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

    <div class="container mx-25">
    <div class="d-grid gap-2">
        <div class="btn-group">
            <a href="{% url 'store:category_create' %}" type="button"
               class="btn btn-sm btn-outline-warning">Add Category</a>
        </div>
    </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            {% for category in categories %}
                <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card shadow-sm">
                        <img src="{{ category.image.url }}">
                        <div class="card-body">
                            <p class="card-text"> {{ category.name }}</p>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'store:category_update' pk=category.id %}" type="button"
                               class="btn btn-sm btn-outline-warning">Update</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'store:category_delete' pk=category.id %}" type="button"
                               class="btn btn-sm btn-outline-warning">Delete</a>
                        </div>
                    </div>

                </div>
                </div>
            {% endfor %}
        </div>
    </div>

                {#                <div class="card-body">#}
                {#                    <p class="card-text"> {{ category.name }}.</p>#}
                {#                    <div class="d-flex justify-content-between align-items-center">#}
                {#                        <div class="btn-group">#}
                {#                            <a href="{% url 'store:category_update' pk=category.id %}" type="button"#}
                {#                               class="btn btn-sm btn-outline-warning">Update</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="d-flex justify-content-between align-items-center">#}
                {#                        <div class="btn-group">#}
                {#                            <a href="{% url 'store:category_delete' pk=category.id %}" type="button"#}
                {#                               class="btn btn-sm btn-outline-warning">Delete</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="d-flex justify-content-between align-items-center">#}
                {#                        <div class="btn-group">#}
                {#                            <a href="{% url 'store:category_list' category_slug=category.slug %}" type="button"#}
                {#                               class="btn btn-sm btn-outline-warning">View details</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}




{#                {% if not category.parent %}#}
{#                    <div class="col-md-5">#}
{#                        <div class="card shadow-sm">#}
{#                            <img src="{{ category.image.url }}">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <p class="card-text"> {{ category.name }}.</p>#}
{##}
{#                    </div>#}
{#                {% endif %}#}



{% endblock %}