{% extends 'base.html' %}
{% block content %}

    <h2>Do you want to delete {{ category.name }}?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <input type="submit" value="Delete category">
    </form>
{% endblock content %}