{% extends "base.html" %}
{% load static %}

{% block title %}Accesories{% endblock %}


{% block content %}


<div class="container-fluid">
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for subcategory in categories %}
            {% if subcategory.parent.id == category.id %}
                <li><a class="dropdown-item" id="submeniu"
                       href="#">{{ subcategory.name }}</a></li>
            {% endif %}

        {% endfor %}
      </ul>
</div>

    {% endblock %}