{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6a23276998.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div id="pagina" class="row" style=display:block>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mx-25px">
        <div class="container-fluid">
            <a href="/media/images/Rafa-kids_logo.png">
                <img src="http://127.0.0.1:8000/media/images/Rafa-kids_logo.png" class="nm-logo mx-2" alt="Rafa-Kids"
                     width="50px"
                     height="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% if request.user.is_superuser %}

                        <li class="nav-item">
                            <a href="{% url 'store:category_list_admin' %}" class="nav-link nowrap">
                                Category List</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'store:product_list_admin' %}" class="nav-link nowrap">
                                Product List</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'store:cart_list_admin' %}" class="nav-link nowrap">
                                Cart List</a>
                        </li>

                    {% else %}
                        {% for category in categories %}
                            {% if not category.parent %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle nowrap" href="#"
                                       id="navbarDropdownMenuLink" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ category.name }}

                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        {% for subcategory in categories %}
                                            {% if subcategory.parent.id == category.id %}
                                                <li><a class="dropdown-item" id="submeniu"
                                                       href="{% url 'store:category_details' category_slug=subcategory.slug %}">{{ subcategory.name }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}

                        {% endfor %}
                        <li class="nav-item">
                            <a href="{% url 'store:design_inspiration' %}" class="nav-link nowrap">Design
                                Inspiration</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2 col-3 nowrap" type="search" placeholder="Search"
                           aria-label="Search">

                </form>

                {% if is_logged_in %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-warning mx-2 nowrap" >Log out</a>
                {% else %}
                    <a href="{% url 'store:registration' %}" class="btn btn-outline-warning mx-2 nowrap">Register</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-warning mx-2 nowrap" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        Log In</a>
                {% endif %}

                <a href="{% url 'store:cart_summary' %}" class="btn btn-warning mx-2 nowrap" type="button"
                   role="button">
                    <span class="badge badge-pill red"> </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-cart2" viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg>
                    Cart
                </a>
            </div>
        </div>
</div>
</nav>


<div style="margin-top:70px">
    {% block content %}

    {% endblock %}
</div>
</div>
</body>
</html>
