{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container mx-25">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">

            <div class="col-md-3 ">
                <div class="h-100 p-5 bg-white border rounded-3 text-center">
                    <h4> Design to play </h4>

                    <a href="/media/PDF/rafa-kids-lookbook-lowres.pdf" class="btn btn-outline-warning" role="button"
                       data-bs-toggle="button"> Inspirational Lookbook</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="h-100 p-5 text-white bg-light rounded-3">
                    <img src="/media/images/Rafa-kids-lookbook01W-800x400.jpg" style="max-width:95%">
                </div>
            </div>

        </div>


        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            <div class="col-md-3 ">
                <div class="h-100 p-5 bg-light border rounded-3 text-center">
                    <h4> Shelf collection
                    </h4>

                    <a href="/media/PDF/Rafa-kids-lookbook_shelf.pdf" class="btn btn-outline-warning" role="button"
                       data-bs-toggle="button"> Inspirational Lookbook</a>

                </div>
            </div>
            <div class="col-md-9">
                <div class="h-100 p-5 text-white bg-light rounded-3">
                    <img src="/media/images/Rafa-kids-lookbook02W-800x400.jpg" style="max-width:95%">
                </div>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            <div class="col-md-3">
                <div class="h-100 p-5 bg-light border rounded-3 text-center">
                    <h4> Bench collection
                    </h4>

                    <a href="/media/PDF/Rafa-kids-lookbook_bench.pdf" class="btn btn-outline-warning" role="button"
                       data-bs-toggle="button"> Inspirational Lookbook</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="h-100 p-5 text-white bg-light rounded-3">
                    <img src="/media/images/Rafa-kids-lookbook03-800x400.jpg" style="max-width:95%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}