{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}





        <div id="carouselExampleIndicators" class="carousel slide mx-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                        aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/images/Rafa-kids-A-teen-bed-banner-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/images/Rafa-kids-bench-fits-everywhere-banner.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/images/Rafa-kids-FA-bed-set-for-siblings.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/images/Rafa-kids-FA-set-new-white-BANNER.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/images/Rafa-kids-H-wardrobe-banner.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/images/Rafa-kids-H-WARDROBE-storage-for-children-BNR.jpg" class="d-block w-100"
                         alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/images/Rafa-kids-natural-black-toddler-room-banner.jpg" class="d-block w-100"
                         alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="row align-items-md-stretch mt-2">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <img src="/media/images/Rafa-kids-952x1280.jpg" style="max-width:95%">
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3 ">

                    <p> Rafa-kids originated from the shared dream of two architects. People, who strive for the best in
                        whatever they do, put all their soul and energy into it. Agata takes care of the aesthetic side
                        of the designs and Arek is the technical brain of the duo. Because of our different interests
                        and skills, we discuss all the designs thoroughly and analyse them in a long working process. We
                        like it a lot!</p>
                    <p class="fst-italic text-warning "> We understand parents because we are parents.</p>
                    <p> The world of designing for children opened up to us after the arrival of our two sons, Frank and
                        Robert. We wanted to design high quality and good looking products for them. That is how the
                        first bed for our older son was created. After making it we received so many nice reactions and
                        requests that we decided to realize our dream of starting our own company.</p>

                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mt-2 ">

            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">

                    <p> We are in love with modern and minimal aesthetic. In our own home, we try to keep things simple
                        with
                        not much furniture and products. This is what we also seek for in designing our collection – to
                        create timeless items that encourage children’s creativity and their eagerness to play.</p>
                    <p class="fst-italic text-warning"> The biggest inspiration for us are our children.</p>
                    <p> Our collection grows together with our boys, and each product comes from personal need. For
                        example
                        Frank sleeps in the bunk bed and he loves to read there. Each evening he used to throw his books
                        on
                        the floor before sleep! There was also not enough space for a night lamp next to the bed. We
                        needed
                        to do something about it. That’s how the small S shelf from our new collection was born.</p>
                    <p></p>
                    <p>We would like to develop Rafa-kids further in the coming years and expand our collection with new
                        beautiful designs. Since our brand grows together with our kids, we hope to create more products
                        for older children, probably also for teenagers.</p>
                    <p> By keeping in touch with our clients, we hope to meet more parent like us – those who look for
                        playful and beautiful designs for their kids, that will last for many years. So, feel welcome to
                        contact us and let us know if you have any questions about our products! We are always here to
                        help you choose and decide.</p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <img src="/media/images/Rafa-kids-owners.jpg" style="max-width:95%">
                </div>
            </div>

        </div>
{% endblock %}