{% extends 'base.html' %}
{% load static %}
{% block title %}Searchbox{% endblock %}


{% block content %}

<form class="search" action="{% url 'search' %}" method='post'>
  {% csrf_token %}
  <input type="search" placeholder="Search here..." name="usr_query"
      value='{{ query }}' required>
  <button type="submit">Search</button>
</form>


    <h1>Search Result</h1>
    <ul>
        {% for product in products %}
        <li>
          {{ product.name }}, {{ product.price }}
        </li>
        {% endfor %}
    </ul>



{% endblock %}