{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

    <div class="container mx-25">
    <div class="d-grid gap-2">
        <div class="btn-group">
            <a href="{% url 'store:product_create' %}" type="button"
               class="btn btn-sm btn-outline-warning">Add Product</a>
        </div>
    </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            {% for product in products %}
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card shadow-sm">
                            <img src="{{ product.image.url }}">
                            <div class="card-body">
                                <p class="card-text"> Name: {{ product.name }}.</p>
                                <p class="card-text"> Price: {{ product.price }} € </p>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'store:product_update' pk=product.pk %}" type="button"
                                   class="btn btn-sm btn-outline-warning">Update</a>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'store:product_delete' pk=product.pk %}" type="button"
                                   class="btn btn-sm btn-outline-warning">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}