{% extends 'base.html' %}
{% block content %}
    <form class="menu_item" action="" method="post">
        {% csrf_token %}
        <label for="product_name_input">Product name:</label>
        <input id="product_name_input" type="text" name="product_name">

        <label for="product_price_input">Product price:</label>
        <input id="product_price_input" type="number" name="product_price">

        <label for="product_description_textarea">Product description:</label>
        <textarea id="product_description_textarea" name="product_description" rows="10"></textarea>

        <label for="product_stock_input">Product stock:</label>
        <input id="product_stock_input" type="number" name="product_stock">

        <label for="product_image_input">Product image:</label>
        <input type="file" id="product_image_input" name="product_image">

        <label for="product_category_select">Product category:</label>
        <select id="product_category_select" name="product_category_id">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Create product">
    </form>
{% endblock %}