{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ products }}
{% endblock %}

{% block content %}
    <div class="container mx-25">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="card-text"> {{ product.name }}</p>
                            <p class="card-text"> Price: {{ product.price }} € </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'store:product_detail' product_slug=product.slug %}" type="button"
                                       class="btn btn-sm btn-outline-warning">View details</a>
                                </div>
                                {% if is_logged_in %}
                                    <form method="post" action="{% url 'store:add_to_cart'  product_id=product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-cart2" viewBox="0 0 16 16">
                                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                            </svg>
                                            Add to cart
                                        </button>
                                    </form>
                                {% else %}
                                    <a href="{% url 'login' %}">Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}