{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
    <div class="container gx-3">
        <main class="pt-5">
            <div class="row g-5">
                <div class="col-md-5 col-lg-5 order-md-first bg-light">
                    <img class="img-fluid w-100" src={{ product.image.url }}>
                </div>
                <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <h1 class="mb-0 h4">{{ product.name }}</h1>

                    <p>{{ product.description }}...</p>

                    <div class="border">
                        <div class="col border-bottom">
                            <div class="row p-3">
                                <div class="col-6">Price:</div>
                                <div class="col-6 text-end"><span class="h4 fw-bold">€ {{ product.price }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-6">
                                    <label for="select">Qty</label>
                                    <select id="select">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">4</option>
                                    </select>

                                </div>

                                <div class="row p-3">
                                    <div class="col-6">
                                        <label for="select">Color</label>
                                        <select id="select">
                                            <option value="">White</option>
                                            <option value="">Black</option>
                                            <option value="">Cream</option>
                                            <option value="">Yellow</option>
                                        </select>

                                    </div>
                                    <div id="add-button" value="{{ product.id }}" class="col-6 text-end">
                                        <button type="button" class="btn btn-warning btn-sm ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-cart2" viewBox="0 0 16 16">
                                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                            </svg>
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>

    </div>

    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $ajax({
                type: 'POST',
                {#url: '{%  url"basket:basket_add" %}',#}
                data: {
                    productid: $('#add-button').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {

                },
                error: function (xhr, errmsg, err) {
                }
            })
        })
    </script>
{% endblock %}